In [8]:
s = pd.Series([1, 2, 0.3, 0.4, 5, 6])
type(s)

pandas.core.series.Series

In [9]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [10]:
s.values

array([1. , 2. , 0.3, 0.4, 5. , 6. ])

In [14]:
s[2]

0.3

In [19]:
arryX = np.array([98, 99, 100])

In [21]:
series = pd.Series(arryX, index=['x', 'y', 'z'])
series

x     98
y     99
z    100
dtype: int64

In [22]:
s['y']

99

In [23]:
pop_dict = {'Australia': 29.1, 
            'Hongkong': 30.2, 
            'New Zealand': 24.5, 
            'United Kingdom': 35.2, 
            'Senegal': 10.6}
population = pd.Series(pop_dict)
population

Australia         29.1
Hongkong          30.2
New Zealand       24.5
United Kingdom    35.2
Senegal           10.6
dtype: float64

In [24]:
population['Australia']

29.1

In [28]:
population * 100

Australia         2910.0
Hongkong          3020.0
New Zealand       2450.0
United Kingdom    3520.0
Senegal           1060.0
dtype: float64

In [ ]:
## DATAFRAMES

In [61]:
data = {'Country': ['Portugal', 'Spain', 'France', 'Romania', 'Austria'],
        'Population': [20.6, 42.4, 19.2, 66.9, 18.9],
        'Area': [30510, 671308, 357050, 41526, 244820],
        'Capital': ['Lisbon', 'Barcelona', 'Paris', 'Bucharest', 'Vienna']}
countries = pd.DataFrame(data)
countries

    Country  Population    Area    Capital
0  Portugal        20.6   30510     Lisbon
1     Spain        42.4  671308  Barcelona
2    France        19.2  357050      Paris
3   Romania        66.9   41526  Bucharest
4   Austria        18.9  244820     Vienna

In [ ]:
## ATTRIBUTES OF DATA FRAME

In [43]:
countries.index

RangeIndex(start=0, stop=5, step=1)

In [44]:
countries.columns

Index(['Country', 'Population', 'Area', 'Capital'], dtype='object')

In [46]:
countries.dtypes

Country        object
Population    float64
Area            int64
Capital        object
dtype: object

In [47]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
Country       5 non-null object
Population    5 non-null float64
Area          5 non-null int64
Capital       5 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 240.0+ bytes

In [48]:
countries.values

array([['Portugal', 20.6, 30510, 'Lisbon'],
       ['Spain', 42.4, 671308, 'Barcelona'],
       ['France', 19.2, 357050, 'Paris'],
       ['Romania', 66.9, 41526, 'Bucharest'],
       ['Austria', 18.9, 244820, 'Vienna']], dtype=object)

In [51]:
countries = countries.set_index('Country')
countries

          Population    Area    Capital
Country
Portugal        20.6   30510     Lisbon
Spain           42.4  671308  Barcelona
France          19.2  357050      Paris
Romania         66.9   41526  Bucharest
Austria         18.9  244820     Vienna

In [52]:
countries = countries.set_index('Capital')
countries

           Population    Area
Capital
Lisbon           20.6   30510
Barcelona        42.4  671308
Paris            19.2  357050
Bucharest        66.9   41526
Vienna           18.9  244820

In [53]:
countries['Population']

Capital
Lisbon       20.6
Barcelona    42.4
Paris        19.2
Bucharest    66.9
Vienna       18.9
Name: Population, dtype: float64

In [54]:
countries['Area']

Capital
Lisbon        30510
Barcelona    671308
Paris        357050
Bucharest     41526
Vienna       244820
Name: Area, dtype: int64

In [76]:
Population = pd.Series({'Australia': 29.1, 
            'Hongkong': 30.2, 
            'New Zealand': 24.5, 
            'United Kingdom': 35.2, 
            'Senegal': 10.6})

Countries = pd.DataFrame({'Country': ['Portugal', 'Spain', 'France', 'Spain', 'Austria'],
        'Population': [20.6, 42.4, 19.2, 66.9, 18.9],
        'Area': [30510, 671308, 357050, 41526, 244820],
        'Capital': ['Lisbon', 'Barcelona', 'Paris', 'Bucharest', 'Vienna']})

In [77]:
Population / 100

Australia         0.291
Hongkong          0.302
New Zealand       0.245
United Kingdom    0.352
Senegal           0.106
dtype: float64

In [78]:
Countries['Space']=countries['Area']/countries['Population']
Countries

    Country  Population    Area    Capital         Space
0  Portugal        20.6   30510     Lisbon   1481.067961
1     Spain        42.4  671308  Barcelona  15832.735849
2    France        19.2  357050      Paris  18596.354167
3     Spain        66.9   41526  Bucharest    620.717489
4   Austria        18.9  244820     Vienna  12953.439153

In [79]:
countries['Density'] = countries['Population'] / countries['Area']
countries

    Country  Population    Area    Capital   Density
0  Portugal        20.6   30510     Lisbon  0.000675
1     Spain        42.4  671308  Barcelona  0.000063
2    France        19.2  357050      Paris  0.000054
3   Romania        66.9   41526  Bucharest  0.001611
4   Austria        18.9  244820     Vienna  0.000077

In [82]:
Population.mean()

25.919999999999998

In [83]:
Countries['Space'].max()

18596.354166666668

In [84]:
Countries.median()

Population        20.600000
Area          244820.000000
Space          12953.439153
dtype: float64

In [95]:
Countries['Population'] =  Countries['Population']*100

In [96]:
Countries

    Country  Population    Area    Capital         Space   Density
0  Portugal    206000.0   30510     Lisbon   1481.067961  0.067519
1     Spain    424000.0  671308  Barcelona  15832.735849  0.006316
2    France    192000.0  357050      Paris  18596.354167  0.005377
3     Spain    669000.0   41526  Bucharest    620.717489  0.161104
4   Austria    189000.0  244820     Vienna  12953.439153  0.007720

In [88]:
Countries['Density'] = Countries['Population']/Countries['Area']

In [89]:
Countries

    Country  Population    Area    Capital         Space   Density
0  Portugal      2060.0   30510     Lisbon   1481.067961  0.067519
1     Spain      4240.0  671308  Barcelona  15832.735849  0.006316
2    France      1920.0  357050      Paris  18596.354167  0.005377
3     Spain      6690.0   41526  Bucharest    620.717489  0.161104
4   Austria      1890.0  244820     Vienna  12953.439153  0.007720

In [91]:
Countries.sort_values('Density', ascending=False)

    Country  Population    Area    Capital         Space   Density
3     Spain      6690.0   41526  Bucharest    620.717489  0.161104
0  Portugal      2060.0   30510     Lisbon   1481.067961  0.067519
4   Austria      1890.0  244820     Vienna  12953.439153  0.007720
1     Spain      4240.0  671308  Barcelona  15832.735849  0.006316
2    France      1920.0  357050      Paris  18596.354167  0.005377

In [90]:
Countries.sort_values('Density',)

    Country  Population    Area    Capital         Space   Density
2    France      1920.0  357050      Paris  18596.354167  0.005377
1     Spain      4240.0  671308  Barcelona  15832.735849  0.006316
4   Austria      1890.0  244820     Vienna  12953.439153  0.007720
0  Portugal      2060.0   30510     Lisbon   1481.067961  0.067519
3     Spain      6690.0   41526  Bucharest    620.717489  0.161104

In [92]:
Countries.describe()

        Population           Area         Space   Density
count     5.000000       5.000000      5.000000  5.000000
mean   3360.000000  269042.800000   9896.862924  0.049607
std    2108.779268  264012.827994   8323.624098  0.067708
min    1890.000000   30510.000000    620.717489  0.005377
25%    1920.000000   41526.000000   1481.067961  0.006316
50%    2060.000000  244820.000000  12953.439153  0.007720
75%    4240.000000  357050.000000  15832.735849  0.067519
max    6690.000000  671308.000000  18596.354167  0.161104